@model MotorPolicy.Models.tblVehicles

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>tblVehicles</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="lngVehicleID" />
            <div class="form-group">
                <label asp-for="strVehicleChassisNo" class="control-label"></label>
                <input asp-for="strVehicleChassisNo" class="form-control" />
                <span asp-validation-for="strVehicleChassisNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="strVehicleEngineNo" class="control-label"></label>
                <input asp-for="strVehicleEngineNo" class="form-control" />
                <span asp-validation-for="strVehicleEngineNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="strVehicleEngineSize" class="control-label"></label>
                <input asp-for="strVehicleEngineSize" class="form-control" />
                <span asp-validation-for="strVehicleEngineSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="strVehicleMake" class="control-label"></label>
                <input asp-for="strVehicleMake" class="form-control" />
                <span asp-validation-for="strVehicleMake" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="strVehicleModel" class="control-label"></label>
                <input asp-for="strVehicleModel" class="form-control" />
                <span asp-validation-for="strVehicleModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lngRegistrationYear" class="control-label"></label>
                <input asp-for="lngRegistrationYear" class="form-control" />
                <span asp-validation-for="lngRegistrationYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="strVehicleRegistrationNo" class="control-label"></label>
                <input asp-for="strVehicleRegistrationNo" class="form-control" />
                <span asp-validation-for="strVehicleRegistrationNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="curVehicleValue" class="control-label"></label>
                <input asp-for="curVehicleValue" class="form-control" />
                <span asp-validation-for="curVehicleValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lngInsuranceGroup" class="control-label"></label>
                <input asp-for="lngInsuranceGroup" class="form-control" />
                <span asp-validation-for="lngInsuranceGroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="strPolicyReferenceNo" class="control-label"></label>
                <input asp-for="strPolicyReferenceNo" class="form-control" />
                <span asp-validation-for="strPolicyReferenceNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
